{% extends 'base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block style %}
<link href="{% static 'post/css/users/user_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block h1 %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
	<span class="site-heading-lower">Creation/\Edition utilisateur</span>
</h1>
{% endblock %}

{% block content %}
<div class="container">
	<section class="row well">
		<form method="post" class="form-horizontal col-lg-6 col-sm-12">
			{% csrf_token %}

			{% for field in form.visible_fields %}
			<div class="form-group">
				{{ field.label_tag }}

				{% if form.is_bound %}
				{% if field.errors %}
				{% render_field field class="form-control is-invalid" %}
				{% for error in field.errors %}
				<div class="invalid-feedback">
					{{ error }}
				</div>
				{% endfor %}
				{% else %}
				{% render_field field class="form-control is-valid" %}
				{% endif %}
				{% else %}
				{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
				<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
			{% endfor %}

			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<button type="submit" class="btn btn-primary btn-block">Sauvegarder</button>
				</div>
				<div class="col-lg-3 col-sm-6">
					<a href="{% url 'my_admin' %}">
						<button type="button" class="btn btn-warning btn-block">Annuler</button>
					</a>
				</div>
			</div>
		</form>
	</section>
</div>
{% endblock %}