{% load static %}
{% load widget_tweaks %}
<!DOCTYPE HTML>
<html lang="fr">

	<head>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		<link href="{% static 'backend/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	  	<title>Creative Psycle</title>

	  	<style type="text/css">
	      body { background-color:#DDD; }
	      header {
	      	text-align: center;
	      }
	      h1 {
	      	padding: 5px;
	      	background-color: #fff;
	      	border-radius: 5px/5px;
	      }
	      section {
	      	margin-bottom: 50px;
	      }
	      span {
	      	font-size: 1.8em;
	      }
	      [class*="col"] { 
	      	margin-bottom: 20px; 
	      }
	      .well {
	        background-color:#CCC;
	        padding: 20px;
	      }
	    </style>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<header class="col-sm-12 jumbotron">
					<h1>Editer un utilisateur</h1>
				</header>
			</div>

			<section class="row well">
					<form method="post" class="form-horizontal col-lg-6 col-sm-12">
					  	{% csrf_token %}

					  	{% for field in form.visible_fields %}
					    <div class="form-group">
					      	{{ field.label_tag }}

							{% if form.is_bound %}
							    {% if field.errors %}
							        {% render_field field class="form-control is-invalid" %}
							        {% for error in field.errors %}
							          <div class="invalid-feedback">
							            {{ error }}
							          </div>
							        {% endfor %}
							    {% else %}
							        {% render_field field class="form-control is-valid" %}
							    {% endif %}
							{% else %}
							     {% render_field field class="form-control" %}
							{% endif %}

							{% if field.help_text %}
					        <small class="form-text text-muted">{{ field.help_text }}</small>
					      	{% endif %}
					    </div>
					  	{% endfor %}
						
						<div class="row">
							<div class="col-lg-3 col-sm-6">
					  			<button type="submit" class="btn btn-primary btn-block">Sauvegarder</button>
					  		</div>
					  		<div class="col-lg-3 col-sm-6">
					  			<a href="{% url 'user_list' %}">
					  				<button type="button" class="btn btn-warning btn-block">Annuler</button>
					  			</a>
					  		</div>
					  	</div>
					</form>
			</section>
		</div>

	</body>

</html>