{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'post/css/users/user_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block h1 %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
	<span class="site-heading-lower">Informations Utilisateur</span>
</h1>
{% endblock %}

{% block content %}
<div class="container">
	<section class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 well">
			<div><span>Id:</span> <span class="info">{{ user.id }}</span></div>
			<div><span>Nom:</span> <span class="info">{{ user.username }}</span></div>
			<div><span>Email:</span> <span class="info">{{ user.email }}</span></div>
			<div><span>Est administrateur:</span>
				<span class="info">
					{% if user.is_staff %}
					<span style="color: green;">Oui</span>
					{% else %}
					<span style="color: red;">Non</span>
					{% endif %}
				</span>
			</div>
		</div>
	</section>
	<section class="row">
		<a href="{% url 'my_admin' %}">
			<button class="btn btn-primary">
				Retour
			</button>
		</a>
	</section>
</div>
{% endblock %}