{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'post/css/users/user_delete.css' %}" rel="stylesheet">
{% endblock %}

{% block h1 %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
	<span class="site-heading-lower">
		Suppression d'utilisateur
	</span>
</h1>
{% endblock %}

{% block content %}
<div class="container well">
	<header class="row">
		<div class="row col-lg-12 col-sm-12">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<h2 class="text-center text-white d-none d-lg-block">
					Etes vous sure de vouloir supprimer "{{ user.username }}" ?
				</h2>
			</div>
		</div>
		<div class="row col-lg-12 col-sm-12">
			<form method="post" class="col-sm-6">
				{% csrf_token %}
				<!--<input type="submit" value="Submit" /> -->
				<button type="submit" class="btn btn-block btn-danger btn-lg">Confirmer</button>
			</form>
			<div class="col-sm-6">
				<a href="{% url 'my_admin' %}">
					<button type="button" class="btn btn-block btn-primary btn-lg">Annuler</button>
				</a>
			</div>
		</div>
	</header>
</div>
{% endblock %}