{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'post/css/admin.css' %}" rel="stylesheet">
<link href="{% static 'post/css/users/user_list.css' %}" rel="stylesheet">
{% endblock %}

{% block h1 %}
<h1 class="site-heading text-center text-white d-none d-lg-block">
    <span class="site-heading-lower">Administration</span>
</h1>
{% endblock %}

{% block content %}

<!-- Tabs -->
<section id="tabs">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users"
                            role="tab" aria-controls="nav-users" aria-selected="true">Users</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                            role="tab" aria-controls="nav-profile" aria-selected="false">Profiles</a>
                        <a class="nav-item nav-link" id="nav-articles-tab" data-toggle="tab" href="#nav-articles"
                            role="tab" aria-controls="nav-articles" aria-selected="false">Articles</a>
                        <a class="nav-item nav-link" id="nav-extras-tab" data-toggle="tab" href="#nav-extras" role="tab"
                            aria-controls="nav-extras" aria-selected="false">Extras</a>
                    </div>
                </nav>
                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-users" role="tabpanel"
                        aria-labelledby="nav-users-tab container">
                        {% include 'post/users/user_list.html' %}
                    </div>
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        Profils utilisateurs
                    </div>
                    <div class="tab-pane fade" id="nav-articles" role="tabpanel" aria-labelledby="nav-articles-tab">
                        Tous les articles
                    </div>
                    <div class="tab-pane fade" id="nav-extras" role="tabpanel" aria-labelledby="nav-extras-tab">
                        Un coup de main ?
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}